{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'main/css/contact.css' %}">
{% endblock %}

{% block content %}
    <section class="contact">
        <div class="container contact__container">
            <aside class="contact__aside">
            <div class="aside__image">
                <img src="{% static 'images/Contact-1.png' %}" >
            </div>
            <h2>Contact Us</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis praesentium alias mollitia!
            </p>
            <ul class="contact__details">
                <li>
                    <i class="uil uil-phone-times"></i>
                    <h5>+91 6370522664</h5>
                </li>
                <li>
                    <i class="uil uil-envelope"></i>
                    <h5>aerospacecet@gmail.com</h5>
                </li>
                <li>
                    <i class="uil uil-location-point"></i>
                    <h5>OUTR-B</h5>
                </li>
            </ul>
            <ul class="contact__socials">
                <li>
                    <a href="https://www.facebook.com/aerospacecetb/" target="_blank"><i class="uil uil-facebook-f"></i></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/aerospace_outrb/" target="_blank"><i
                        class="uil uil-instagram-alt"></i></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/company/aerospacecetb" target="_blank"><i
                        class="uil uil-linkedin"></i></a>
                </li>
                <li>
                    <a href="#"><i class="uil uil-youtube"></i></a>
                </li>
            </ul>
        </aside>

            <form action="https://formspree.io/f/xlezopdg" method="POST" class="contact__form">
                <div class="form__name">
                    <input type="text" name="First Name" placeholder="First Name" required>
                    <input type="text" name="Last Name" placeholder="Last Name" required>
                    <input type="text" name="Year" placeholder="Your Year Of Study" required>
                    <input type="text" name="Branch" placeholder="Your Branch" required>
                </div>
                <input type="email" name="Email Address" placeholder="Your Email Address" required>
                <input type="text" name="Registration Number" placeholder="Your Registration Number" required>
                <textarea name="Message" rows="7" placeholder="Message" required></textarea>
                <button type="submit" class="btn btn-primary">Send Message</button>
            </form>
        </div>
    </section>
{% endblock %}