{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'main/css/gallery.css' %}">
{% endblock %}

{% block content %}
    <section class="team">
        <h2>Some Memorable side Of Us</h2>
        <div class="container team__container">
            <article class="team__member">
                <div class="team__member-image" data-aos="fade-up-left">
                    <img src="{% static 'images/Extraimages/1a.jpeg' %}" alt="">
                </div>
            </article>
            <article class="team__member">
                <div class="team__member-image" data-aos="fade-up-left">
                    <img src="{% static 'images/Extraimages/1b.jpeg' %}" alt="">
                </div>
            </article>
            <article class="team__member">
                <div class="team__member-image" data-aos="fade-up-left">
                    <img src="{% static 'images/Extraimages/1c.jpeg' %}" alt="">
                </div>
            </article>
            <article class="team__member">
                <div class="team__member-image" data-aos="fade-up-left">
                    <img src="{% static 'images/Extraimages/1d.jpeg' %}" alt="">
                </div>
            </article>
            <article class="team__member">
                <div class="team__member-image" data-aos="fade-up-left">
                    <img src="{% static 'images/Extraimages/1e.jpeg' %}" alt="">
                </div>
            </article>
            <article class="team__member">
                <div class="team__member-image" data-aos="fade-up-left">
                    <img src="{% static 'images/Extraimages/1f.jpeg' %}" alt="">
                </div>
            </article>
            <article class="team__member">
                <div class="team__member-image" data-aos="fade-up-left">
                    <img src="{% static 'images/Extraimages/1g.jpeg' %}" alt="">
                </div>
            </article>
            <article class="team__member">
                <div class="team__member-image" data-aos="fade-up-left">
                    <img src="{% static 'images/Extraimages/last.jpg' %}" alt="">
                </div>
            </article>
            <article class="team__member">
                <div class="team__member-image" data-aos="fade-up-left">
                    <img src="{% static 'images/Extraimages/1i.jpeg' %}" alt="">
                </div>
            </article>
            <article class="team__member">
                <div class="team__member-image" data-aos="fade-up-left">
                    <img src="{% static 'images/Extraimages/1j.jpeg' %}" alt="">
                </div>
            </article>
            <article class="team__member">
                <div class="team__member-image" data-aos="fade-up-left">
                    <img src="{% static 'images/Extraimages/1k.jpeg' %}" alt="">
                </div>
            </article>
            <article class="team__member">
                <div class="team__member-image" data-aos="fade-up-left">
                    <img src="{% static 'images/Extraimages/1l.jpeg' %}" alt="">
                </div>
            </article>
            <article class="team__member">
                <div class="team__member-image" data-aos="fade-up-left">
                    <img src="{% static 'images/Extraimages/1m.jpeg' %}" alt="">
                </div>
            </article>
            <article class="team__member">
                <div class="team__member-image" data-aos="fade-up-left">
                    <img src="{% static 'images/Extraimages/1n.jpeg' %}" alt="">
                </div>
            </article>
            <article class="team__member">
                <div class="team__member-image" data-aos="fade-up-left">
                    <img src="{% static 'images/Extraimages/2.jpg' %}" alt="">
                </div>
            </article>
            <article class="team__member">
                <div class="team__member-image" data-aos="fade-up-left">
                    <img src="{% static 'images/Extraimages/3.jpg' %}" alt="">
                </div>
            </article>
            <article class="team__member">
                <div class="team__member-image" data-aos="fade-up-left">
                    <img src="{% static 'images/Extraimages/4.jpg' %}" alt="">
                </div>
            </article>
            <article class="team__member">
                <div class="team__member-image" data-aos="fade-up-left">
                    <img src="{% static 'images/Extraimages/5.jpg' %}" alt="">
                </div>
            </article>
            <article class="team__member">
                <div class="team__member-image" data-aos="fade-up-left">
                    <img src="{% static 'images/Extraimages/6.jpg' %}" alt="">
                </div>
            </article>
            <article class="team__member">
                <div class="team__member-image" data-aos="fade-up-left">
                    <img src="{% static 'images/Extraimages/8.png' %}" alt="">
                </div>
            </article>
            <article class="team__member">
                <div class="team__member-image" data-aos="fade-up-left">
                    <img src="{% static 'images/Extraimages/aero.jpeg' %}" alt="">
                </div>
            </article>
        </div>
    </section>


    <!--<section class="team">
        <h2>Some Recent Achievements Of Us</h2>
         
        <div class="container teamachieve__container">
            <article class="teamachieve__member">
                <div class="teamachieve__member-image">
                    <video autoplay loop muted>
                        <source src="{% static 'images/Extraimages/rocket.mp4" type="video/mp4">
                    </video>
                </div>
            </article>
            <article class="teamachieve__member">
                <div class="teamachieve__member-image">
                    <video autoplay loop muted>
                        <source src="{% static 'images/Extraimages/plane.mp4" type="video/mp4">
                    </video>
                </div>
            </article>
        </div>
    </section>-->
{% endblock %}

{% block scripts %}
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
{% endblock %}