{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Starting of Header -->
    <header>
        <div class="container header__container">
            <div class="header__left" data-aos="flip-left">
                <h1>
                    Engross Yourself In the field of Aerospace
                </h1>
                <p>Aerospace Engineering deals with the research, design, development, construction, testing,
                    collaboration processes, science and technology of aircraft & spacecraft, and their products. It
                    involves the study of science and engineering behind the physical properties of rockets, aircrafts
                    and spacecrafts.</p>
                <a href="about" class="btn btn-primary">Get Started</a>
            </div>
            <div class="header__right" data-aos="zoom-in-left">
                <div class="header__right-image">
                    <img src="{% static 'images/aero@4x.png' %}" alt="">
                </div>
            </div>
        </div>
    </header>
    <!-- End of Header -->


    <!-- Start of Categories -->
    <section class="categories">
        <!-- <h1>Categories</h1> -->
        <div class="container categories__container">
            <div class="categories__left" data-aos="zoom-in-right">
                <h1>Categories</h1>
                <img src="{% static 'images/catagorie.jpg' %}">
                <p> </p>

            </div>
            <div class="categories__right">
                <article class="category" data-aos="flip-left">
                    <span class="category__icon"><i class="uil uil-screw"></i></span>
                    <h5>HARDWARE</h5>
                    <p>The Hardware wing of Aerospace Club mainly focuses on the Communication, Power Supply,
                        Navigation, Fuel Conservation, Safety Against Vibration and Shock, Structural integrity of the
                        the planes and other devices. </p>
                </article>
                <article class="category" data-aos="flip-right">
                    <span class="category__icon"><i class="uil uil-keyboard"></i></span>
                    <h5>SOFTWARE</h5>
                    <p>The Software wing of Aerospace Club mainly focuses on using simulation and computer programs and
                        software to calculate and design the desired model for construction.</p>
                </article>
                <article class="category" data-aos="flip-left">
                    <span class="category__icon"><i class="uil uil-palette"></i></span>
                    <h5>DESIGNING</h5>
                    <p>The Design wing of Aerospace Club mainly focuses on making the design of the aircraft and other
                        concerned machines. It also deals with the promotion and social media aspect of the clubs.</p>
                </article>
                <article class="category" data-aos="flip-right">
                    <span class="category__icon"><i class="uil uil-constructor"></i></span>
                    <h5>MANUFACTURING</h5>
                    <p>The Manufacturing wing of Aerospace Club mainly focuses on choosing materials and making the
                        simulated models in real life i.e. it basically deals with producing the desired result in
                        product form.</p>
                </article>
            </div>
        </div>
    </section>
    <!-- <br><br><br> -->
    <!-- End of Categories -->

    <!-- Start of Courses -->
    <section class="courses">
        <h2>Our Popular Domain</h2>
        <div class="container courses__container">
            <article class="course">
                <div class="course__image" data-aos="flip-up">
                    <a href="https://drive.google.com/drive/folders/1DJOjQo1NqpfoIwBORVpQUJ7Q5Fm7VhR6?usp=sharing"
                        target="_blank">
                        <img src="https://i.pinimg.com/564x/54/59/b1/5459b1d5f7e38bf2ae5488f6d6da09b8.jpg">
                    </a>
                </div>
                <div class="course__info">
                    <h4>RC PLANE</h4>
                    <p>It is a small plane which is controlled remotely by an operator using a radio-transmitter. Made
                        using software like solidworks and XFLR5 for building and simulating the aeroplane, the plane
                        had a successful flight.<br><br>Click On The Image To View Details.</p>
                    <!-- <a href="course.html" class="btn btn-primary">Learn More</a> -->
                </div>
            </article>
            <article class="course">
                <div class="course__image" data-aos="flip-down">
                    <a href="https://drive.google.com/drive/folders/1DQJVi4QFo0hL7-WyCpAGANCmSDRVpA6i?usp=sharing"
                        target="_blank">
                        <img src="{% static 'images/Extraimages/rocket.jpg' %}">
                    </a>
                </div>
                <div class="course__info">
                    <h4>ROCKET</h4>
                    <p>Small rocket designed to reach low altitudes and be recovered. Rocket designed and simulated with
                        Open Rocket software which had a sugar rocket motor with sugar fuel and potassium nitrate as
                        oxidiser reached a remarkable height of 3000 to 4000 feet.<br>Click On The Image To View
                        Details.</p>
                    <!-- <a href="courses.html" class="btn btn-primary">Learn More</a> -->
                </div>
            </article>
            <article class="course">
                <div class="course__image" data-aos="flip-up">
                    <a href="https://docs.google.com/presentation/d/1j9A_-pxizDEGw_wEtRvgkbezYPTEtfJQ/edit?usp=sharing&ouid=112971931886809850002&rtpof=true&sd=true"
                        target="_blank">
                        <img src="{% static 'images/Extraimages/drone.jpg' %}" href="course">
                    </a>

                </div>
                <div class="course__info">
                    <h4>DRONE</h4>
                    <p>It’s an unmanned aircraft (UAV) that can be controlled remotely or can fly autonomously using
                        embedded system software. Currently this is in research stage.<br><br><br><br>Click On The Image
                        To View Details.</p>
                    <!-- <a href="courses.html" class="btn btn-primary">Learn More</a> -->
                </div>
            </article>
            <article class="course">
                <div class="course__image" data-aos="flip-up">
                    <a href="https://drive.google.com/drive/folders/1uZ5DuEb6WL6WfmueifOHE-NwcT85Vxg0?usp=sharing"
                        target="_blank">
                        <img src="{% static 'images/Extraimages/jet engine.jpg' %}">
                    </a>
                </div>
                <div class="course__info">
                    <h4>JET ENGINE</h4>
                    <p>Jet engine is a internal-combustion engines that propels aircraft by means of the rearward
                        discharge of a jet of fluid, usually hot exhaust gases generated by burning fuel with air drawn
                        in from the atmosphere. Jets rely on the third of Newton’s laws of motion. Currently this is in
                        research stage.<br><br>Click On The Image To View Details.</p>
                    <!-- <a href="courses.html" class="btn btn-primary">Learn More</a> -->
                </div>
            </article>
            <article class="course">
                <div class="course__image" data-aos="flip-down">
                    <a href="https://drive.google.com/drive/folders/1peNUeZ2fXpg47Q1lQ4HEjWSZA2YjPJAF?usp=sharing"
                        target="_blank">
                        <img src="{% static 'images/Extraimages/PHYSICS.jpg' %}">
                    </a>
                </div>
                <div class="course__info">
                    <h4>ASTRO PHYSICS</h4>
                    <p>Astrophysics is a branch of space science that applies the laws of physics and chemistry to seek
                        to understand the universe and our place in it. Discussion sessions are conducted on all
                        possible mysteries this universe holds. We take part in many quizzes, discussion along with
                        different colleges and organizations.
                        <br><br>Click On The Image To View Details.

                    </p>
                    <!-- <a href="courses.html" class="btn btn-primary">Learn More</a> -->
                </div>
            </article>
            <article class="course">
                <div class="course__image" data-aos="flip-up">
                    <a href="https://www.instagram.com/aerospace_outrb/" target="_blank">
                        <img src="https://cdn.pixabay.com/photo/2018/01/06/07/53/social-3064515__340.jpg">
                    </a>
                </div>
                <div class="course__info">
                    <h4>SOCIAL MEDIA</h4>
                    <p>Design is a plan for arranging elements in such a way as best to accomplish a particular purpose.
                        The field of Aerospace Design involves creating airplanes or spacecraft along with developing
                        new techniques and materials for flight.
                        <br><br><br><br>Click On The Image To View Details.
                    </p>
                    <!-- <a href="courses.html" class="btn btn-primary">Learn More</a> -->
                </div>
            </article>
        </div>
    </section>
    <!-- End of Courses -->



    <!-- Start  of FAQ's -->
    <section class="faqs">
        <h2>Frequently Asked Questions !</h2>
        <div class="container faqs__container">
            <article class="faq" data-aos="flip-left">
                <div class="faq__icon"><i class="uil uil-angle-right"></i></div>
                <div class="question__answer">
                    <h4>Why Aerospace 🙄?</h4>
                    <p>Aerospace is important to research because of its lack of publicity. In addition to that we use
                        it for many purposes, such as for travel, monitoring the surroundings around us, or maintaining
                        national security. Many of the world's machines that help make our world go round, such as
                        airplanes, spacecraft, drones, missiles, satellites, among others.</p>
                </div>
            </article>
            <article class="faq" data-aos="flip-right">
                <div class="faq__icon"><i class="uil uil-angle-right"></i></div>
                <div class="question__answer">
                    <h4>What is the scope 😃?</h4>
                    <p>The aviation sector is growing rapidly and thereby increasing the scope in this sector as this
                        job profile is very rewarding with high salary packages and a lot of job opportunities. India is
                        one of the countries having brilliant and hardworking youth which can take the aviation sector
                        to the next level.</p>
                </div>
            </article>
            <article class="faq" data-aos="flip-left">
                <div class="faq__icon"><i class="uil uil-angle-right"></i></div>
                <div class="question__answer">
                    <h4>What we do here at Aerospace Club 😎?</h4>
                    <p>Aerospace Club deals with the study of RC plane, Drones, Rockets, Astrophysics, Jet engines,
                        Satellites, in addition with a multitude of commercial, industrial and military applications.
                        Here we work together as a team and are always ready to do new thing. </p>
                </div>
            </article>
            <article class="faq" data-aos="flip-right">
                <div class="faq__icon"><i class="uil uil-angle-right"></i></div>
                <div class="question__answer">
                    <h4>What is the Joining Process 😍🤩?</h4>
                    <p>We aerospace enthusiast conduct Freshmen Inductions every year to recruit a new set of army to
                        help us accomplish our goal. So, interested candidates can enroll in programmes and inductions
                        to get into the club. </p>
                </div>
            </article>
            <article class="faq" data-aos="flip-left">
                <div class="faq__icon"><i class="uil uil-angle-right"></i></div>
                <div class="question__answer">
                    <h4>Where it is Located 😅?</h4>
                    <!--<video width="320" height="240" controls>
                        <source src="{% static 'images/Extraimages/plane.mp4" type="video/mp4">
                      </video>-->
                    <p>The club room is situated at the Innovation Corridor of OUTR. We start from the
                        grounds and touch the skies with glory. </p>
                </div>
            </article>
            <article class="faq" data-aos="flip-right">
                <div class="faq__icon"><i class="uil uil-angle-right"></i></div>
                <div class="question__answer">
                    <h4>Skills Required 🙄😶 ?</h4>
                    <p>We require rookies. Yes, as they are the most interesting guys and they ask questions which we
                        love to answer. So, to get into the club the only pre-requisite is INTEREST!!!!</p>
                </div>
            </article>


        </div>
    </section>
    <!-- End  of FAQ's -->
    <!-- Start  of TESTIMONIALS -->
    <section class="container testimonials__container mySwiper">
        <h2>Student's Testimonials</h2>
        <div class="swiper-wrapper">
            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="{% static 'images/shibam.jpg' %}" alt="">
                </div>
                <div class="testimonial__info">
                     
                    <small>Student</small>
                </div>
                <div class="testimonial__body">
                    <p>As an Aerodynaimcs enthusiast, I wanted to know everything about planes and anything that flies.
                        And this club gave me the spark to gather all the fascinating stuff about the things I longed
                        for.
                    </p>
                </div>
            </article>

            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="{% static 'images/omm.jpeg' %}" alt="">
                </div>
                <div class="testimonial__info">
                     
                    <small>Student</small>
                </div>
                <div class="testimonial__body">
                    <p>Got to learn about a lot of stuff from pin to plane, from rock to stars and what not. I got the
                        opportunity to participate in a lot of events which were very enjoyable.
                    </p>
                </div>
            </article>

            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="{% static 'images/rajat.jpeg' %}" alt="">
                </div>
                <div class="testimonial__info">
                     
                    <small>Student</small>
                </div>
                <div class="testimonial__body">
                    <p>I liked to know about the space and what lies beneath them. To uncover the sectrets of space and
                        stuff seem to be ultimate dream. In this club I could find MY group which shared the same dream
                        and passion.
                    </p>
                </div>
            </article>

            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="{% static 'images/AATISH.jpeg' %}" alt="">
                </div>
                <div class="testimonial__info">
                    <small>Student</small>
                </div>
                <div class="testimonial__body">
                    <p>Contributiong to projects was very exciting like the RC plane and model rocket. The most
                        enjoyable parts were when even after the failures of flight testing, everyone was positive and
                        kept their aim straight in front of their eyes.
                    </p>
                </div>
            </article>

        </div>
        <div class="swiper-pagination"></div>
    </section>
    <!-- End of Testimonials -->
{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script src="{% static 'js/main.js' %}"></script>
<script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        spaceBetween: 30,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        // when window width >= 600px
        breakpoints: {
            600: {
                slidesPerView: 2
            }
        }
    });
</script>

<script>
    AOS.init();
</script>
{% endblock %}
