{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'main/css/about.css' %}">
{% endblock %}

{% block content %}
    <!-- Our Mentors -->
    <section class="team">
        <h2>Meet Our Experts</h2>
        <div class="container team__container">
            <article class="team__member">
                <div class="team__member-image" data-aos="fade-up-left">
                    <img src="{% static 'images/Extraimages/abhi.jpeg' %}" alt="">
                </div>
                <div class="team__member-info">
                    <h4>Abhishek Rout</h4>
                    <p>Convenor</p>
                </div>
                <div class="team__member-socials">
                    <a href="https://instagram.com/abhi_arv20?igshid=YmMyMTA2M2Y=" target="_blank"><i class="uil uil-instagram"></i></a>
                    <a href=" " target="_blank"><i class="uil uil-twitter-alt"></i></a>
                    <a href="https://www.facebook.com/abhishek.rout.182" target="_blank"><i class="uil uil-facebook"></i></a>
                    <a href="https://www.linkedin.com/in/abhishek-rout-5045b11aa" target="_blank"><i class="uil uil-linkedin"></i></a>
                </div>
            </article>
            <article class="team__member">
                <div class="team__member-image" data-aos="fade-up-left">
                    <img src="{% static 'images/Extraimages/deepak1.jpg' %}" alt="">
                </div>
                <div class="team__member-info">
                    <h4>Deepak Sahoo</h4>
                    <p>Co-Convenor</p>
                </div>
                <div class="team__member-socials">
                    <a href="https://instagram.com/j_u_s_t__dk?igshid=YmMyMTA2M2Y=" target="_blank"><i class="uil uil-instagram"></i></a>
                    <a href=" " target="_blank"><i class="uil uil-twitter-alt"></i></a>
                    <a href="https://www.facebook.com/deepak.deepakkumarsahoo.940" target="_blank"><i class="uil uil-facebook"></i></a>
                    <a href="https://www.linkedin.com/in/deepak-kumar-sahoo-24b6711aa" target="_blank"><i class="uil uil-linkedin"></i></a>
                </div>
            </article>
            <article class="team__member">
                <div class="team__member-image" data-aos="fade-up-left">
                    <img src="{% static 'images/Extraimages/mahakud.jpg' %}" alt="">
                </div>
                <div class="team__member-info">
                    <h4>Abinash Mahakud</h4>
                    <p>Coordinator</p>
                </div>
                <div class="team__member-socials">
                    <a href=" " target="_blank"><i class="uil uil-instagram"></i></a>
                    <a href=" " target="_blank"><i class="uil uil-twitter-alt"></i></a>
                    <a href="https://www.facebook.com/abinash.mahakud.98" target="_blank"><i class="uil uil-facebook"></i></a>
                    <a href="https://www.linkedin.com/in/abinash-mahakud-70b36a199" target="_blank"><i class="uil uil-linkedin"></i></a>
                </div>
            </article>
            
            <article class="team__member">
                <div class="team__member-image" data-aos="fade-up-left">
                    <img src="{% static 'images/Extraimages/subranshu1.jpg' %}" alt="">
                </div>
                <div class="team__member-info">
                    <h4>Subhransu Mahapatra</h4>
                    <p>Innovation Head</p>
                </div>
                <div class="team__member-socials">
                    <a href="https://instagram.com/_s_u_b_k_i_n_g_xi_?igshid=YmMyMTA2M2Y=" target="_blank"><i class="uil uil-instagram"></i></a>
                    <a href=" " target="_blank"><i class="uil uil-twitter-alt"></i></a>
                    <a href=" " target="_blank"><i class="uil uil-facebook"></i></a>
                    <a href="http://www.linkedin.com/in/subhransu-mahapatra-157484220" target="_blank"><i class="uil uil-linkedin"></i></a>
                </div>
            </article>
            <article class="team__member">
                <div class="team__member-image" data-aos="fade-up-left">
                    <img src="{% static 'images/Extraimages/chinmay2.jpg' %}" alt="">
                </div>
                <div class="team__member-info">
                    <h4> Chinmay Rath</h4>
                    <p>Technical Head</p>
                </div>
                <div class="team__member-socials">
                    <a href="https://instagram.com/chinmay.rath?igshid=YmMyMTA2M2Y=" target="_blank"><i class="uil uil-instagram"></i></a>
                    <a href=" " target="_blank"><i class="uil uil-twitter-alt"></i></a>
                    <a href="https://www.facebook.com/chinmay.rath.3760" target="_blank"><i class="uil uil-facebook"></i></a>
                    <a href="https://www.linkedin.com/in/chinmay-rath-56356b206" target="_blank"><i class="uil uil-linkedin"></i></a>
                </div>
            </article>
            <article class="team__member">
                <div class="team__member-image" data-aos="fade-up-left">
                    <img src="{% static 'images/Extraimages/ankita3.jpeg' %}" alt="">
                </div>
                <div class="team__member-info">
                    <h4>Ankita Dash</h4>
                    <p>R&D Head</p>
                </div>
                <div class="team__member-socials">
                    <a href="https://instagram.com/lovly_rachana?igshid=YmMyMTA2M2Y=" target="_blank"><i class="uil uil-instagram"></i></a>
                    <a href=" " target="_blank"><i class="uil uil-twitter-alt"></i></a>
                    <a href=" " target="_blank"><i class="uil uil-facebook"></i></a>
                    <a href=" " target="_blank"><i class="uil uil-linkedin"></i></a>
                </div>
            </article>
            <article class="team__member">
                <div class="team__member-image" data-aos="fade-up-left">
                    <img src="{% static 'images/Extraimages/alipta2.jpeg' %}" alt="">
                </div>
                <div class="team__member-info">
                    <h4>Alipta Mangaraj</h4>
                    <p>Design Head</p>
                </div>
                <div class="team__member-socials">
                    <a href="https://instagram.com/write_myway?igshid=YmMyMTA2M2Y=" target="_blank"><i class="uil uil-instagram"></i></a>
                    <a href=" " target="_blank"><i class="uil uil-twitter-alt"></i></a>
                    <a href="https://www.facebook.com/alipta.mangaraj.9" target="_blank"><i class="uil uil-facebook"></i></a>
                    <a href="https://www.linkedin.com/in/alipta-mangaraj-29b2ba1b3" target="_blank"><i class="uil uil-linkedin"></i></a>
                </div>
            </article>
            <article class="team__member">
                <div class="team__member-image" data-aos="fade-up-left">
                    <img src="{% static 'images/Extraimages/abhilipsa4.jpeg' %}" alt="">
                </div>
                <div class="team__member-info">
                    <h4>Abhilipsa Sahoo</h4>
                    <p>Promotional Head</p>
                </div>
                <div class="team__member-socials">
                    <a href="https://instagram.com/lipsaabhi123?igshid=YmMyMTA2M2Y=" target="_blank"><i class="uil uil-instagram"></i></a>
                    <a href=" " target="_blank"><i class="uil uil-twitter-alt"></i></a>
                    <a href="https://www.facebook.com/puja.abhi.146" target="_blank"><i class="uil uil-facebook"></i></a>
                    <a href="https://www.linkedin.com/in/abhilipsa-sahoo-4279631a0" target="_blank"><i class="uil uil-linkedin"></i></a>
                </div>
            </article>
            <article class="team__member">
                <div class="team__member-image" data-aos="fade-up-left">
                    <img src="{% static 'images/Extraimages/anjali.jpeg' %}" alt="">
                </div>
                <div class="team__member-info">
                    <h4>Anjali Nayak</h4>
                    <p>Alumni Coordinator</p>
                </div>
                <div class="team__member-socials">
                    <a href="https://instagram.com/_._a.n.j.a.l.i_?igshid=YmMyMTA2M2Y=" target="_blank"><i class="uil uil-instagram"></i></a>
                    <a href=" " target="_blank"><i class="uil uil-twitter-alt"></i></a>
                    <a href=" " target="_blank"><i class="uil uil-facebook"></i></a>
                    <a href=" " target="_blank"><i class="uil uil-linkedin"></i></a>
                </div>
            </article>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
{% endblock %}
